   <div class="container">
            <div class="heading">
                    <h1 class="well">Service Name: {{service.Name}} is admin : {{isAdmin}}</h1>
                </div>
            <div class="map-example well">
                <div class="row">
                    <div class="col-lg-6">
                        <a class="lightbox">
                            <img [src]="Configuration() + service.LogoImagePath" onerror="this.src='../assets/defaultVehicleImage.jpeg'"  alt="Card Image" class="card-img-top">
                          </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="heading">
                            <h3>{{service.Name}}</h3>
                            <div class="rating">
                                <i class="fa fa-star icon"></i>
                                <i class="fa fa-star icon"></i>
                                <i class="fa fa-star icon"></i>
                                <i class="fa fa-star icon"></i>
                                <i class="fa fa-star-o icon"></i>
                            </div>
                        </div>
                        <div class="info">
                            <p><strong>Description: </strong>{{service.Description}}</p>
                        </div>
                        <div class="info">
                            <p><strong>Email: </strong>{{service.Email}}</p>
                        </div>
                    </div>
                </div>
                <div *ngFor="let comment of service.Comments">
                  <div class="well"><strong>{{comment.User.FullName}}: </strong>{{comment.Content}}</div>
                </div>
                <div class="row">
                  <div *ngIf="isAdmin">
                  <button type="button" (click)='ConfirmService()' class="btn btn-info">Confirm</button>
                  </div>
                  <div *ngIf="isManager">
                    <button type="button" (click)='AddBranch()' class="btn btn-info">Add Branch</button>
                  </div>
                  <div *ngIf="isManager">
                    <button type="button"  (click)='AddPricelist()' class="btn btn-info">Add Pricelist</button>
                    </div>
                    <div *ngIf="isManager">
                        <button type="button" class="btn btn-warning" (click)="Update()">Update</button>
                    </div>
                    <div *ngIf="isManager">
                        <button type="button" class="btn btn-danger" (click)="Delete()">Delete</button>
                    </div>
                </div>
            </div>
            </div>



            <div >
                <div class="heading container">
                    <h1 class="well">Branches</h1>
                </div>
            <app-branch-list-item  *ngFor="let branch of branches" [branch]="branch"></app-branch-list-item>
            </div>
                  
            <div >
                <app-carlist [vehicles]="vehicles"></app-carlist>
            </div>