<div class="container">
<div class="map-example well">
    <div class="row">
        <div class="col-lg-6">
            <a class="lightbox">
                <img [src]="service.LogoImagePath" alt="Card Image" class="card-img-top">
              </a>
        </div>
        <div class="col-lg-6">
            <div class="heading">
                <h3>Lorem Ipsum Dolor</h3>
                <div class="rating">
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star icon"></i>
                    <i class="fa fa-star-o icon"></i>
                </div>
            </div>
            <div class="info">
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>
