
    <div *ngIf='!user.IsUserConfirmed' class="card border-0 transform-on-hover">
      
        <a class="lightbox" href="Configuration() + user.PicturePath">
          <img [src]="Configuration() + user.PicturePath" onerror="this.src='../assets/icon.jpg'" alt="Card Image" class="card-img-top">
        </a>
          <div class="card-body">
              <h6><a href="#">{{user.FullName}}</a></h6>
              <h5><a href="#">{{user.Birthday}}</a></h5>
              <p class="text-muted card-text">{{user.LastName}}</p>
              <button type="button" (click)='ConfirmUser()' class="btn btn-warning">Confirm</button>
          </div>  
      </div>
  