
<div class="card border-0 transform-on-hover">
  <div class="price-wrap product-cell">
    <span>$70</span>
    <sup>00</sup>/Day
  </div>
  <a *ngIf="vehicle.Images" [routerLink]="['/addvehicle/']" class="lightbox">
    <img  src={{vehicle.Images[0].ImagePath}} alt="Card Image" class="card-img-top">
  </a>
    <div class="card-body">
        <h6><a href="#">{{vehicle.Model}}</a></h6>
        <h5><a href="#">{{vehicle.Manufacturer}}</a></h5>
        <p class="text-muted card-text">{{vehicle.Description}}</p>
    </div>
</div>
 