
<div class="container">
    <h1 class="well">Add Branch</h1>
		<div class="col-lg-12 well">
			<div class="row">
				<form #f="ngForm" (ngSubmit)="makeReservation(f.value, f)" enctype='multipart/form-data'>
					<div class="col-sm-12">	
						<div class="form-group row">
              <div class="row container">
                <div class="col-sm-6">
                  <!-- Kreiramo mapu -->
                  <agm-map *ngIf="branches" [latitude]="branches[0].Latitude" [longitude]="branches[0].Longitude" [zoom]="14">
                    
                    <div *ngFor="let branch of branches">
                      <agm-marker [latitude]="branch.Latitude" [longitude]="branch.Longitude" (markerClick)="changeSelectedBranch1(branch.Id)" [title]="branch.Id.toString()"
                      [label]="branch.Id.toString()">
                  
                        <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
                        <agm-info-window [latitude]="branch.Latitude" [longitude]="branch.Longitude" >
                  
                          <!-- U info-window stavljamo html -->
                          <span style="font-size: 16px;font-family:'Times New Roman'">{{branch.Id}}</span>
                          <br/>
                          <span style="font-family:'Times New Roman'; color:gray;">{{branch.Address}}</span>
                        </agm-info-window>
                  
                      </agm-marker>
                    </div>
                  </agm-map>
                  <div class="form-group">
                    <label>Begin Time</label>
                    <input type="date" [(ngModel)]="BeginTime" name='BeginTime' placeholder="Enter Begin Time Here.." class="form-control" ngModel>
                  </div>
                </div>
              </div>
            </div>
            <div class="row container">
                <div class="col-sm-6">
                  <!-- Kreiramo mapu -->
                  <agm-map *ngIf="branches" [latitude]="branches[0].Latitude" [longitude]="branches[0].Longitude" [zoom]="14">
                    
                    <div *ngFor="let branch of branches">
                    <agm-marker [latitude]="branch.Latitude" [longitude]="branch.Longitude" (markerClick)="changeSelectedBranch2(branch.Id)" [title]="branch.Id.toString()"
                    [label]="branch.Id.toString()">
                
                      <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
                      <agm-info-window [latitude]="branch.Latitude" [longitude]="branch.Longitude" >
                
                        <!-- U info-window stavljamo html -->
                        <span style="font-size: 16px;font-family:'Times New Roman'">{{branch.Id}}</span>
                        <br/>
                        <span style="font-family:'Times New Roman'; color:gray;">{{branch.Address}}</span>
                      </agm-info-window>
                
                    </agm-marker>
                  </div>
                  </agm-map>
                    <div class="form-group">
                      <label>End Time</label>
                      <input type="date" [(ngModel)]="EndTime" name='EndTime' placeholder="Enter End Time Here.." class="form-control" ngModel>
                    </div>
                </div>
              </div>
            </div>		
            <button type="submit" class="btn btn-lg btn-info">Make Reservation</button>		
            <h4>Selected TakeOff Branch: {{selectedBranchId1}} and DropOff Branch: {{selectedBranchId2}}</h4>
				</form> 
			</div>
		</div>
  </div>
  

