<div *ngIf="!manager.IsUserConfirmed" class="card border-0 transform-on-hover">
      
    <a class="lightbox" [href]="manager.PicturePath">
      <img [src]="manager.PicturePath" alt="Card Image" class="card-img-top">
    </a>
      <div class="card-body">
          <h6><a href="#">{{manager.FullName}}</a></h6>
          <h5><a href="#">{{manager.LastName}}</a></h5>
          <p class="text-muted card-text">{{manager.LastName}}</p>
          <button type="button" class="btn btn-warning">Confirm</button>
      </div>
  </div>