<div class="card border-0 transform-on-hover">
      
    <a class="lightbox" [href]="Configuration() + manager.PicturePath">
      <img [src]="Configuration() + manager.PicturePath" onerror="this.src='../assets/icon.jpg'" alt="Card Image" class="card-img-top">
    </a>
      <div class="card-body">
          <h6><a href="#">{{manager.FullName}}</a></h6>
          <h5><a href="#">{{manager.LastName}}</a></h5>
          <p class="text-muted card-text">{{manager.LastName}}</p>
          <button type="button" class="btn btn-warning" (click)="ConfirmToggleManager()" > {{manager.IsManagerAllowed ? 'Forbid' : 'Allow'}} </button>
      </div>
  </div>
