
<div class="container">
    <h1 class="well">Add Pricelist</h1>
		<div class="col-lg-12">
			<div>
        <div *ngFor="let vehicle of vehicles">
            <app-vehicle [vehicle]="vehicle" ></app-vehicle>
            <div class="container well">
                    <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Enter Price</label>
                                <input  [(ngModel)]="vehicle.PricePerHour" required placeholder="Enter Price Here.." type="number" #price="ngModel">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                                        <div *ngIf="price.errors.required">
                                          Price is required.
                                        </div>
                                  </div>
                            </div>
                        </div>
            </div>
            
        </div>
      </div>
      <div class="container well">
      <div class="col-sm-4 form-group">
          <label>Begin Time</label>
          <input type="date" name='BeginTime' [(ngModel)]="pricelist.BeginTime" placeholder="Enter BeginTime Here.." class="form-control" ngModel required #begin="ngModel">
          <div *ngIf="begin.invalid && (begin.dirty || begin.touched)" class="alert alert-danger">
                <div *ngIf="begin.errors.required">
                  Begin time is required.
                </div>
          </div>
      </div>	
      <div class="col-sm-4 form-group">
          <label>End Time</label>
          <input type="date" name='EndTime' [(ngModel)]="pricelist.EndTime"  placeholder="Enter EndTime Here.." class="form-control" ngModel required #end="ngModel">
          <div *ngIf="end.invalid && (end.dirty || end.touched)" class="alert alert-danger">
                <div *ngIf="end.errors.required">
                  End time is required.
                </div>
          </div>
      </div>
    
      <div class="row">
          <button type="button"  (click)='AddPricelist()' class="btn btn-warning">Add Pricelist</button>
          </div>
        </div>
    </div>
	</div>