<div class="well">
        <div class="container">
            <strong class="col-lg-2">Search: </strong>
            <input class="col-lg-4" [(ngModel)]="editCommentContent" placeholder="Enter Model Here.." type="text">
            <input class="col-lg-4" [(ngModel)]="editCommentContent" placeholder="Enter Manufacturer Here.." type="text">
            <input class="col-lg-4" [(ngModel)]="editCommentContent" placeholder="Enter Year Of Production Here.." type="text">
            <input class="col-lg-4" [(ngModel)]="editCommentContent" placeholder="Enter Comment content Here.." type="text">
            <div class="col-lg-2">
                <button class="col-lg-2" type="button" (click)="Search()" class="btn btn-warning">Search</button>
            </div>
        </div>
    </div> 
<app-carlist [vehicles]="vehicles"></app-carlist>

<div>
        <div class="container">
            <div class="text-center">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     