<div class="container">
        <div class="well container search">
            <form #f="ngForm" (ngSubmit)="Search(f.value, f)">
                <div class="row">
                    <strong class="col-lg-2">Search: </strong>
                </div>
                <div class="row">
                    <input class="col-lg-4" name="Model" placeholder="Enter Model Here.." type="text" ngModel>
                    <input class="col-lg-4" name="Manufacturer" placeholder="Enter Manufacturer Here.." type="text" ngModel>
                </div>
                <div class="row">
                    <input class="col-lg-4" name="MinPrice" placeholder="Enter Min Price Here.." type="number" ngModel>
                    <input class="col-lg-4" name="MaxPrice" placeholder="Enter Max Price Here.." type="number" ngModel>
                </div>
                <div class="row">
                    <input class="col-lg-4" name="YearOfProduction" placeholder="Enter Year Of Production Here.." type="number" ngModel>
                    <div class="col-sm-12 form-group">
                            <label>Vehicle Type</label>
                            <select name="TypeId" ngModel>
                                    <option *ngFor="let type of vehicleTypes" [value]="type.Id">
                                      {{type.Name}}
                                    </option>
                                </select>
                        </div>
                </div>
                <div class="col-lg-2">
                    <button class="col-lg-2" type="submit" class="btn btn-warning">Search</button>
                </div>
            </form>
        </div>
    </div> 
<app-carlist [vehicles]="vehicles"></app-carlist>

<div>
        <div class="container">
            <div class="text-center">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     